@charset "UTF-8";
:root {
  --dark-grey: #212121;
  --light-grey: #757575;
  --hover-blue: #2196F3;
  --hero-button-hover: #188CE8;
  --hero-h1-white: #FFFFFF;
  --hero-background: #2F303A;
  --team-background: #F5F4FA;
  --footer-contakts: rgba(255, 255, 255, 0.6);
  --header-line: #ECECEC;
  --portfolio-content-border: #EEEEEE;
  --border-grey: #AFB1B8;
  --activity-bc: rgba(47, 48, 58, 0.8);
  --textaria-color: rgba(117, 117, 117, 0.5);
  --input-border-color: rgba(33, 33, 33, 0.2);
  --footer-input-color: rgba(255, 255, 255, 0.6);
}

/*Visually-Hidden*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.social__link, .modal-btn, .modal-form__check, .features__icon-box, .activity__img-title, .clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*Загальні стилі*/
body {
  font-family: "Roboto", sans-serif;
  color: var(--dark-grey);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: nula;
  text-transform: nula;
  margin-bottom: 50px;
}

.section--no-padding--top {
  padding-top: 0px;
}

.section--other-background {
  background-color: var(--team-background);
}

/*Reset*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover, a:focus {
  color: var(--hover-blue);
}

ul, ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*JS-селектори*/
/*Стилі контейнеру*/
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Стилі анімації */
/*Кнопка*/
.button {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--hero-h1-white);
  text-transform: nula;
  cursor: pointer;
  background-color: var(--hover-blue);
  border: none;
  border-radius: 4px;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
  margin: 0 auto;
  display: block;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: var(--hero-button-hover);
}

/*Стилі логотипу*/
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-align: nula;
  letter-spacing: 0.03em;
  color: nula;
  text-transform: nula;
  text-decoration: none;
  color: inherit;
}

.logo:hover, .logo:focus {
  color: inherit;
}

.logo__accent {
  color: var(--hover-blue);
}

/*Посилання на соціальні мережі*/
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__item {
  -ms-flex-preferred-size: calc((100% - 10 * 4) / 4);
      flex-basis: calc((100% - 10 * 4) / 4);
}

.social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: var(--hover-blue);
}

.social__icon {
  fill: var(--border-grey);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: var(--hero-h1-white);
}

.social__link--dark {
  background-color: rgba(255, 255, 255, 0.1);
}

.social__icon--white {
  fill: var(--hero-h1-white);
}

/*Стилі модального вікна*/
/*backdrop*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  -webkit-transition: visibility 450ms cubic-bezier(0.4, 0, 0.2, 1), opacity 450ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 450ms cubic-bezier(0.4, 0, 0.2, 1), opacity 450ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

/*Модальне вікно*/
.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--hero-h1-white);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: scale(1) translate(-50%, -50%);
          transform: scale(1) translate(-50%, -50%);
  -webkit-transition: -webkit-transform 450ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 450ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 450ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 450ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 450ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal-wrapper {
  -webkit-transform: scale(0.9) translate(-50%, -50%);
          transform: scale(0.9) translate(-50%, -50%);
}

/*Кнопка-закриття модального вікна*/
.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.modal-btn__icon {
  fill: #000000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover .modal-btn__icon,
.modal-btn:focus .modal-btn__icon {
  fill: var(--hover-blue);
}

.modal-form__tumb {
  margin-bottom: 20px;
}

.modal-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-grey);
  text-transform: nula;
  margin-bottom: 12px;
}

.modal-form__text {
  font-weight: nula;
  font-size: 12px;
  line-height: 1.16;
  text-align: nula;
  letter-spacing: 0.01em;
  color: var(--light-grey);
  text-transform: nula;
  margin-bottom: 4px;
}

.modal-form__input-tumb {
  position: relative;
}

.modal-form__input {
  height: 40px;
  width: 100%;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  outline: transparent;
  padding-left: 42px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__textarea {
  font-weight: nula;
  font-size: 14px;
  line-height: 1.14;
  text-align: nula;
  letter-spacing: 0.01em;
  color: var(--textaria-color);
  text-transform: nula;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  outline: transparent;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__check {
  margin-bottom: 30px;
  font-weight: nula;
  font-size: 14px;
  line-height: 1.71;
  text-align: nula;
  letter-spacing: 0.03em;
  color: var(--light-grey);
  text-transform: nula;
}

.modal-form__check-input {
  position: absolute;
}

.modal-form__check-box {
  width: 16px;
  height: 15px;
  border: 2px solid var(--dark-grey);
  border-radius: 2px;
  background-color: var(--hero-h1-white);
  margin-right: 7px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__check-box:focus, .modal-form__check-box:hover {
  border: 2px solid var(--hover-blue);
  cursor: pointer;
}

.modal-form__check-input:checked + .modal-form__check-box {
  border: 0.1em solid var(--hover-blue);
  background-color: var(--hover-blue);
}

.modal-form__check-icon {
  position: absolute;
  fill: var(--hero-h1-white);
}

.modal-form__check-link {
  color: var(--hover-blue);
}

.modal-form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.modal-form__label:last-child {
  margin-bottom: 0px;
}

.input:hover,
.input:focus {
  border-color: var(--hover-blue);
  cursor: pointer;
}

.modal-form__icon {
  position: absolute;
  top: 11px;
  left: 12px;
  fill: var(--dark-grey);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:hover + .modal-form__icon,
.input:focus + .modal-form__icon {
  fill: var(--hover-blue);
  cursor: pointer;
}

/*Фільтри*/
.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter--margins {
  margin-top: 0px;
  margin-bottom: 50px;
}

.filter__btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-grey);
  text-transform: nula;
  background-color: var(--team-background);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  min-width: 45px;
  min-height: 38px;
  padding: 6px 22px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__btn:hover, .filter__btn:focus {
  color: var(--hero-h1-white);
  background-color: var(--hover-blue);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__item {
  margin-right: 8px;
  display: block;
}

.filter__item:last-child {
  margin-right: 0px;
}

/*Хедер*/
.header {
  border-bottom: 1px solid var(--header-line);
}

.header__logo {
  margin-right: 93px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--light-grey);
  margin-left: auto;
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-align: nula;
  letter-spacing: 0.02em;
  color: nula;
  text-transform: nula;
  margin-right: 50px;
}

.contacts__item:last-child {
  margin-right: 0px;
}

/* верхняя линия */
.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link--current {
  color: var(--hover-blue);
}

.navigation__link--current::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--hover-blue);
  border-radius: 2px;
}

.navigation__item {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-align: nula;
  letter-spacing: 0.02em;
  color: nula;
  text-transform: nula;
  margin-right: 50px;
}

.navigation__item:last-child {
  margin-right: 0px;
}

/* Герой */
.hero {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--hero-background);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--hero-h1-white);
  text-transform: uppercase;
  display: block;
  margin-bottom: 30px;
}

/*Особливості*/
.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.features__item {
  -ms-flex-preferred-size: calc(100% / 4 - 30px);
      flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.features__icon-box {
  background-color: var(--team-background);
  border-radius: 4px;
  height: 120px;
  margin-bottom: 30px;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: nula;
  letter-spacing: 0.03em;
  color: nula;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features__text {
  font-weight: nula;
  font-size: 14px;
  line-height: 1.71;
  text-align: nula;
  letter-spacing: 0.03em;
  color: var(--light-grey);
  text-transform: nula;
}

/*Чем мы занимаемся*/
.activity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.activity__img-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: var(--activity-bc);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--hero-h1-white);
  text-transform: uppercase;
}

.activity__item {
  position: relative;
  -ms-flex-preferred-size: calc(100% / 3);
      flex-basis: calc(100% / 3);
  margin-right: 30px;
}

.activity__item:last-child {
  margin-right: 0px;
}

/*Наша команда*/
.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.team__item {
  -ms-flex-preferred-size: calc(100% / 4 - 30px);
      flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  background-color: var(--hero-h1-white);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__content {
  padding: 30px 0px;
}

.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: nula;
  text-transform: nula;
  margin-bottom: 10px;
}

.team__text {
  font-weight: nula;
  font-size: nula;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--light-grey);
  text-transform: nula;
  padding-bottom: 16px;
}

/*Постоянные клиенты*/
.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.clients__item {
  -ms-flex-preferred-size: calc((100% - 30 * 6) / 6);
      flex-basis: calc((100% - 30 * 6) / 6);
}

.clients__link {
  width: 170px;
  height: 92px;
  border: 1px solid var(--border-grey);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border-color: var(--hover-blue);
}

.clients__icon {
  fill: var(--border-grey);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--hover-blue);
}

/*Портфоліо*/
.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio__item {
  -ms-flex-preferred-size: calc(100% / 3 - 30px);
      flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.portfolio__img-tumb {
  position: relative;
  overflow: hidden;
}

.portfolio__content {
  padding: 20px 24px;
  border-right: 1px solid var(--portfolio-content-border);
  border-bottom: 1px solid var(--portfolio-content-border);
  border-left: 1px solid var(--portfolio-content-border);
}

.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-align: nula;
  letter-spacing: 0.06em;
  color: nula;
  text-transform: nula;
  margin-bottom: 4px;
}

.portfolio__text {
  font-weight: nula;
  font-size: nula;
  line-height: 1.88;
  text-align: nula;
  letter-spacing: 0.03em;
  color: var(--light-grey);
  text-transform: nula;
}

.portfolio__link {
  display: block;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover, .portfolio__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translatey(101%);
          transform: translatey(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: nula;
  font-size: 18px;
  line-height: 1.56;
  text-align: nula;
  letter-spacing: 0.03em;
  color: var(--hero-h1-white);
  text-transform: nula;
  padding: 63px 24px;
}

.portfolio__link:hover .portfolio__overlay,
.portfolio__link:focus .portfolio__overlay {
  -webkit-transform: translatey(0);
          transform: translatey(0);
}

/* подвал */
.footer {
  background-color: var(--hero-background);
  color: var(--hero-h1-white);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__logo-group {
  margin-right: 70px;
}

.footer__logo {
  display: block;
  margin-right: 0px;
  margin-bottom: 20px;
}

.address-group {
  font-weight: nula;
  font-size: 14px;
  line-height: 1.71;
  text-align: nula;
  letter-spacing: 0.03em;
  color: nula;
  text-transform: nula;
  font-style: normal;
}

.address-group__item {
  margin-bottom: 9px;
}

.address-group__item:last-child {
  margin-bottom: 0;
}

.address-group__item--grey {
  color: var(--footer-contakts);
}

.group-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: nula;
  letter-spacing: 0.03em;
  color: nula;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/*Форма подвалу*/
.form-group {
  margin-left: auto;
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-form__label {
  margin-right: 12px;
}

.footer-form__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  color: var(--footer-input-color);
  padding: 15px 16px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form__input:hover, .footer-form__input:focus {
  border-color: var(--hover-blue);
}

.footer-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-btn__text {
  margin-right: 10px;
}

.footer-btn__icon {
  fill: var(--hero-h1-white);
}
/*# sourceMappingURL=main.css.map */