.filter {
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 8px;
    @include mq(tablet) {
        justify-content: center;
    }  
}
.filter--margins {
    margin-top: 0px;
    margin-bottom: 40px;
    @include mq(tablet-only) {
        margin-bottom: 30px;
    }
    @include mq(desktop) {
        margin-bottom: 50px;
    }
}
.filter__btn {
    font-family: $BodyFont, $Sans-Serif;
    @include FontStyles(500, 16px, 1.62, center, 0.03em, var(--dark-grey), null);

    background-color: var(--team-background);
    cursor: pointer;
    border: none;
    border-radius: 4px;

    padding: 6px 22px;

    transition: color $transitionLinks,
        background-color $transitionLinks,
        box-shadow $transitionLinks;

    &:hover,
    &:focus {
        color: var(--hero-h1-white);
        background-color: var(--hover-blue);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
            0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}
.filter__item {
    display: block;

 //   @include mq(mobile-only) {
 //       margin-bottom: 15px;
 //   }
 //   &:last-child {
 //       margin-right: 0px;
 //   }
}