.logo {
    font-family: $LogoFont, $Sans-Serif;
    font-style: normal;
    @include FontStyles(700, 24px, 1.16, null, 0.03em, null, null);
    @include mq(desktop) {
        @include FontStyles(700, 26px, 1.19, null, 0.03em, null, null);
    }

    text-decoration: none;
    color: inherit;

    &:hover,
    &:focus {
        color: inherit;
    }

    &__accent {
        color: var(--hover-blue);
    }
    
}