.hero {
    max-width: 1600px;
    min-height: 400px;
    margin-left: auto;
    margin-right: auto;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;  
    background-color: var(--hero-background);

    background-image: 
        linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero/mobile/img.jpg);
//    background-image: -webkit-image-set(url(../images/hero/mobile/img.webp) 1x),
  //                  linear-gradient(to right,
    //                    rgba(47, 48, 58, 0.4),
      //                  rgba(47, 48, 58, 0.4));
    @include mq(retina){
        background-image:
            linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/hero/mobile/img@2x.jpg);
    //    background-image: -webkit-image-set(url(../images/hero/mobile/img2x.webp) 2x),
      //          linear-gradient(to right,
        //                rgba(47, 48, 58, 0.4),
          //              rgba(47, 48, 58, 0.4));
    }  
    @include mq(tablet-only) {
        background-image: 
            linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/hero/tablet/img.jpg);
    //    background-image: -webkit-image-set(url(../images/hero/tablet/img.webp) 1x),
      //          linear-gradient(to right,
        //                rgba(47, 48, 58, 0.4),
          //              rgba(47, 48, 58, 0.4));
        @include mq(retina) {
            background-image:
                linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/hero/tablet/img@2x.jpg);
        //    background-image: -webkit-image-set(url(../images/hero/tablet/img2x.webp) 2x),
          //          linear-gradient(to right,
            //                rgba(47, 48, 58, 0.4),
              //              rgba(47, 48, 58, 0.4));
        }
    }
    @include mq(desktop) {
        background-image: 
            linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/hero/dextop/img.jpg);
     //   background-image: -webkit-image-set(url(../images/hero/dextop/img.webp) 1x),
       //         linear-gradient(to right,
         //               rgba(47, 48, 58, 0.4),
           //             rgba(47, 48, 58, 0.4));
        @include mq(retina){
            background-image:
            linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
              url(../images/hero/dextop/img@2x.jpg);
         //   background-image: -webkit-image-set(url(../images/hero/dextop/img2x.webp) 2x),
           //         linear-gradient(to right,
             //               rgba(47, 48, 58, 0.4),
               //             rgba(47, 48, 58, 0.4));
            }
    }
    padding-top: 118px;
    padding-bottom: 118px;

    @include mq(desktop) {
        min-height: 600px;
        padding-top: 200px;
        padding-bottom: 200px;
    }
}
.hero__title {
    @include mq(desktop) {
        @include FontStyles(900, 44px, 1.36, center, 0.06em, var(--hero-h1-white), uppercase);
    }
    @include FontStyles(900, 26px, 1.62, center, 0.06em, var(--hero-h1-white), uppercase);
    
    display: block;
    margin-bottom: 30px;
}

